.header {
  background-color: #00585f;
  color: white;
  padding: 0.5rem 1rem;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.title {
  display: flex; 
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  flex-grow: 1;
}

.logo {
  height: 60px;
  margin-right: 0.5rem;
}

.brand-name {
  white-space: nowrap;
}

.user {
  margin-right: 1rem;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.sidebar-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #00767e;
  color: white;
  width: 200px;
  padding: 1rem;
  z-index: 1000;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 1rem;
}

.sidebar-menu a,
.sidebar-menu span {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: block;
}

.sidebar-menu a:hover,
.sidebar-menu span:hover {
  text-decoration: underline;
}