.titulo {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.label-total {
  font-weight: bold;
}

.campo-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.input-total {
  width: 50%;
  margin-left: 10px;
}

.subtitulo {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

.seleccion-ingresos {
  margin-top: 20px;
}

.boton-ingresar {
  margin-top: 30px;
}